# Object files
*.o
# Eclipse stuff
.project
.cproject

bin/
Debug/
Release/
Debug_uc/

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# KDevelop stuff
src/.kdev4/
src/src.kdev4

